<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shardingsphere_demo.dao.UserDao" >
    <select id="getAll" resultType="com.example.shardingsphere_demo.bean.User">
       SELECT *
	   FROM users;
    </select>

    <select id="findById" parameterType="Integer" resultType="com.example.shardingsphere_demo.bean.User">
       SELECT *
	   FROM users where id = #{id};
    </select>

    <insert id="insert" parameterType="com.example.shardingsphere_demo.bean.User">
        insert into users values(#{id}, #{name}, #{comment});
    </insert>
</mapper>